cs50
Flask
Flask-Session
requests
yfinance
pandas-datareader
beautifulsoup4
pytest





this scrip to print in log
        app.logger.info("######################")
        app.logger.info(row["symbol"])
        app.logger.info("######################")