{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block header %}
    <h1>header</h1>
{% endblock %}
    
{% block main %}
    <table class="table table-striped container">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Note</th>
                <th>Sector</th>
                <th>currentPrice</th>
                <th>buyPrice</th>
                <th>resistancePrice</th>
                <th>supportPrice</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{stock["symbol"]}}</td>
                <td>{{stock["name"]}}</td>
                <td>note</td>
                <td>{{stock["sector"]}}</td>
                <td>{{stock["price"]}}</td>
                <td>buyPrice</td>
                <td>resistancePrice</td>
                <td>supportPrice</td>
                <td>status</td>
            </tr>
 
        </tbody>
    </table>
{% endblock %}  