<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.2/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <link href="/static/styles.css" rel="stylesheet">

        <title>noteInvest: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand fw-bolder" href="/follow">NoteInvest</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarColor01">
                {% if session["user_id"] %}
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Select</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/follow">Follow</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item  d-flex justify-content-center align-items-center">
                      <span class="badge bg-success">{{session["user_id"] | getUsername}}</span></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                  </ul>
                {% else %}
                  <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                  </ul>
                {% endif %}
                
              </div>
            </div>
          </nav>

        {% block header %}{% endblock %}
       
        <main class="container-fluid py-2 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-mute">
            <div>Data provided by <a href="https://finance.yahoo.com/">yahoo finance</a></div>
            <div>Data provided by <a href="https://www.settrade.com/">settrade</a></div>
        </footer>

    </body>

</html>
